body{
	background-color:#b24e4e;
}

#frm{
	border:solid gray 10px;
	width:20%;
	border-radius:5px;
	margin:50px auto;
	background: #dbbaba;
	padding:40px;
	box-shadow: 8px 8px 12px #000;
}

#btn{
	background:white;
	padding:5px;
	margin-left:70%;

}

#pass{
	margin-left:10px;
}

#user{
	margin-left:13px;
}
#frm h4{
	padding-left:70px;
}

h3{
	margin-left:340px;
	margin-top:60px;
	text-shadow: 9px 7px 5px #700606;
}